body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
body:after{
    background-image: -webkit-linear-gradient(135deg, #91d1ff 0%, #a387ff 100%);
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: .6;
    z-index: -1;

}
.navbar-brand {
    color: #a387ff !important;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
#app {
    width: 80%;
    margin: 15vh auto 5vh auto;
    background-color: transparent;
}
.py-4{
    padding-top: 0 !important;
}
.btn{
    font-size: 0.8rem;
    padding: 4px 8px !important;
}
.btn-primary{
    background-color: #4db5ff !important ;
    border: none
}
.btn-warning {
    background-color: #91d1ff !important;
    border: none
}
.btn-danger {
    background-color: #ff4d4d !important;
    border: none
}
.btn-success {
    background-color: #a387ff !important;
    border: none
}
.profile-smallest {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
/* főoldal */
article {
    width: 80%;
    background-color: #ffffff;
    margin: 0 auto 20px auto;
    border-radius: 25px;
    padding: 15px;
}
.info, .content {
    padding: 20px;
}
.content {
    border-left: 1px solid lightgray;
}
.comments {
    padding: 30px
}
textarea {
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid lightgray
}
.page-link {
    color: #6c757d
}
.page-item.active .page-link {
    background-color: #6c757d;
    border-color:  #6c757d;
}
.profile-small{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
@media(max-width: 900px){
    #app {
        margin-top: 5vh;
    }
    article {
        width: 100%;
        flex-direction: column;
        padding: 0
    }
    .content {
        border-left: none;
        border-bottom: 1ps solod lightgrey;
    }
}
@media(max-width: 600px){
    #app {
        width: 100%;
        margin-top: 0;
        padding: 15px
    }
}

/* dashboard */
#dashboard {
    background-image: -webkit-linear-gradient(135deg,rgba(163, 135, 255, 0.7) 0%,rgba(145, 209, 255, 0.7) 100%); 
    min-height: 70vh;
    margin-top: 5vh;
    border-radius: 25px;
}
.dashboard-links{
    text-decoration: none;
    color: #a387ff;
    background-color: transparent !important;
    border: none !important
}
.dashboard-links:hover {
    text-decoration: none;
    color: #000000
}
.cards {
    width: 300px;
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #ffffff;
}
.modal-footer button a {
    color:#ffffff
}
@media(max-width: 1200px){
    .cards {
        width: 200px;
        height: 200px;
        margin: 15px 
    }
}
/* profile oldal */

form  {
    display: inline;
}
h2{
    color: #a387ff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.profile {
    background-color: #ffffff;
    padding-bottom: 10px;
    width:80%;
    margin:0 auto;
    margin-top: 5vh;
    border-radius: 25px;
}
.profile-page{
    background-color: #ffffff;
    border-radius: 25px;
}
.profile-img {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

/* edit account */

.form {
    background-color: #ffffff;
    padding-bottom: 10px;
    width: 80%;
    margin:0 auto;
    border-radius: 25px;
    padding: 15px
}
.form-group {
    margin:  auto
}

.edit-form {
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 5vh
}

/* login */

.form-container {
    background-image: -webkit-linear-gradient(135deg, #91d1ff 0%, #a387ff 100%);
    margin-top: 10vh;
    padding: 25px;
}
.card-body{
    padding: 15px
}

/* new post page */

.form-container{
    border-radius: 25px;
}